In [78]:
import pandas as pd

In [79]:
df1 = pd.read_csv(r"C:\Users\Lenovo\Desktop\Marjane\Ref d’annulation 4.csv", encoding="ISO-8859-1", sep=";")
df1.head()

   id                                 name       DateLastUpdate
0   1     Annulation EMM- Rupture en stock  2023-10-09 13:42:31
1   2     Annulation EMM-Annulation client  2023-10-09 13:42:31
2   3  Annulation EMM-Article non conforme  2023-10-09 13:42:31
3   4                               Retour  2023-10-09 13:42:31
4   5   Annulation EMM-Préparation Bloquée  2023-10-09 13:42:31

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              41 non-null     int64
 1   name            41 non-null     object
 2   DateLastUpdate  41 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.1+ KB

In [80]:
df1["DateLastUpdate"] = pd.to_datetime(df1["DateLastUpdate"], format="mixed", dayfirst=True, errors="coerce")

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              41 non-null     int64
 1   name            41 non-null     object
 2   DateLastUpdate  41 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.1+ KB

In [11]:
print(df1.dtypes)

id                         int64
name                      object
DateLastUpdate    datetime64[ns]
dtype: object

In [81]:
import psycopg2
import sqlalchemy

In [82]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:admin123.@localhost:5432/Marjane_db")

In [83]:
df1.rename(columns={"DateLastUpdate": "datelastupdate"}, inplace=True)

In [15]:
df1.head()

   id                                 name      datelastupdate
0   1     Annulation EMM- Rupture en stock 2023-10-09 13:42:31
1   2     Annulation EMM-Annulation client 2023-10-09 13:42:31
2   3  Annulation EMM-Article non conforme 2023-10-09 13:42:31
3   4                               Retour 2023-10-09 13:42:31
4   5   Annulation EMM-Préparation Bloquée 2023-10-09 13:42:31

In [84]:
df1.to_sql("annulation", engine, if_exists="append", index=False)

41

In [87]:
df1["date_only"] = df1["datelastupdate"].dt.date

In [88]:
df1["date_only"] = pd.to_datetime(df1["date_only"], errors="coerce").dt.date

In [ ]:
df1.info()

In [89]:
from sqlalchemy import Date

df1.to_sql(
    "annulation",
    engine,
    if_exists="replace",  
    index=False,
    dtype={"date_only": Date()}
)

41

In [ ]:
df1.isnull().sum()

In [ ]:
 ############################# ORDER DETAIL EVENTS df

In [90]:
df2 = pd.read_csv(r"C:\Users\Lenovo\Desktop\Marjane\OrderDetailEvents 4.csv", sep=";")
df2.head()

     RECID  OrderLineId         Status                 date
0  3798893       925584       Accepted  2024-04-22 14:32:22
1  4675729       925584      Cancelled  2025-04-16 08:38:51
2  3798894       925584      Delivered  2024-04-25 11:00:59
3  3798895       925584  InPreparation  2024-04-24 15:58:23
4  3798896       925584        Shipped  2024-04-24 18:15:42

In [91]:
df2.columns= df2.columns.str.lower()

In [ ]:
df2.head()

In [ ]:
df2[df2.duplicated()]

In [92]:
df2["date"] = pd.to_datetime(df2["date"], errors="coerce").dt.date

In [ ]:
df2.info()

In [ ]:
df2.head()

In [ ]:
df2.isnull().sum()

In [93]:
df2.rename(columns={"recid":"rec_id","orderlineid":"order_line_id"},inplace=True)

In [95]:
df2.head()

    rec_id  order_line_id         status        date
0  3798893         925584       Accepted  2024-04-22
1  4675729         925584      Cancelled  2025-04-16
2  3798894         925584      Delivered  2024-04-25
3  3798895         925584  InPreparation  2024-04-24
4  3798896         925584        Shipped  2024-04-24

In [ ]:
####  recid  PRIMARY KEY
####  order_line_id  FOREIGN KEY

In [ ]:

 ############################# ORDER DETAIL df

In [73]:
df3 = pd.read_csv(r"C:\Users\Lenovo\Desktop\Marjane\OrderDetail 4.csv", sep=";", encoding="ISO-8859-1")

df3.head()

,id,orderLineId,OrderId,status,quantity,offerPrice_UnitSalesPrice,offerPrice_ShippingCost,sellingPrice_UnitSalesPrice,sellingPrice_ShippingCost,offer_Id,offer_supplyMode,offer_productId,offer_productTitle,cancellation_reasonId
0,1153777,9LV0,MARJMA2504152338ZRDYR1,Delivered,1,"89,00","15,00","89,00","8,00",700058_AAAAB02872_6_MARJMA,Fulfillment,AAAAB02872,MAYBELLINE - FIT ME FRESH TINT 03,NaN
1,1153778,96MQ,MARJMA2504152338ZRDYR1,Delivered,1,"99,00","15,00","99,00","8,00",700058_AUC0000030148116_6_MARJMA,Fulfillment,AUC0000030148116,Maybelline New York Superstay Vinyl Ink Encre ...,NaN
2,1153779,9VXQ,MARJMA2504152338ZRDYR1,Delivered,1,"99,00","15,00","99,00","8,00",700058_AUC0000030153219_6_MARJMA,Fulfillment,AUC0000030153219,Rouge à lèvres - Maybelline New York - Superst...,NaN
3,1153784,29JV,MARJMA2504152338WRY0K9,Delivered,1,"119,00","15,00","89,00","25,00",704053_AAAND58082_6_MARJMA,Xdock,AAAND58082,HEALTH POWER - Magnésium Glycinate - 60 Gélule...,NaN
4,1153796,0L40,MARJMA2504152338QR7QPO,Delivered,1,"174,00","15,00","174,00","15,00",704040_ASE3323036009647_6_MARJMA,Fulfillment,ASE3323036009647,Gel Fortifiant Cils et Sourcils - Ecrinal - AN...,NaN

In [74]:
df3.isnull().sum()

id                                 0
orderLineId                        0
OrderId                            0
status                           362
quantity                           0
offerPrice_UnitSalesPrice          0
offerPrice_ShippingCost            0
sellingPrice_UnitSalesPrice        0
sellingPrice_ShippingCost          0
offer_Id                           0
offer_supplyMode                 329
offer_productId                    0
offer_productTitle               362
cancellation_reasonId          80794
dtype: int64

In [ ]:
df3.shape

In [75]:
df3= df3.drop(columns="cancellation_reasonId")

In [ ]:
df3.isnull().sum()

In [ ]:
df3[df3.duplicated()]

In [76]:
df3 = df3.dropna(subset=["status", "offer_supplyMode", "offer_productTitle"])

In [ ]:
df3.isnull().sum()

In [ ]:
df3

In [77]:
df3= df3.rename(columns={"OrderId": "order_id"})
df3

,id,orderLineId,order_id,status,quantity,offerPrice_UnitSalesPrice,offerPrice_ShippingCost,sellingPrice_UnitSalesPrice,sellingPrice_ShippingCost,offer_Id,offer_supplyMode,offer_productId,offer_productTitle
0,1153777,9LV0,MARJMA2504152338ZRDYR1,Delivered,1,"89,00","15,00","89,00","8,00",700058_AAAAB02872_6_MARJMA,Fulfillment,AAAAB02872,MAYBELLINE - FIT ME FRESH TINT 03
1,1153778,96MQ,MARJMA2504152338ZRDYR1,Delivered,1,"99,00","15,00","99,00","8,00",700058_AUC0000030148116_6_MARJMA,Fulfillment,AUC0000030148116,Maybelline New York Superstay Vinyl Ink Encre ...
2,1153779,9VXQ,MARJMA2504152338ZRDYR1,Delivered,1,"99,00","15,00","99,00","8,00",700058_AUC0000030153219_6_MARJMA,Fulfillment,AUC0000030153219,Rouge à lèvres - Maybelline New York - Superst...
3,1153784,29JV,MARJMA2504152338WRY0K9,Delivered,1,"119,00","15,00","89,00","25,00",704053_AAAND58082_6_MARJMA,Xdock,AAAND58082,HEALTH POWER - Magnésium Glycinate - 60 Gélule...
4,1153796,0L40,MARJMA2504152338QR7QPO,Delivered,1,"174,00","15,00","174,00","15,00",704040_ASE3323036009647_6_MARJMA,Fulfillment,ASE3323036009647,Gel Fortifiant Cils et Sourcils - Ecrinal - AN...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113326,670063,WLP7,MARJMA2402151701RDJMDV,Cancelled,1,"895,00","0,00","805,50","0,00",700771_AAAAG90445_6_MARJMA,Xdock,AAAAG90445,Friteuse à air sans huile Léviter Digital 5L -...
113327,1060439,WJ3R,MARJMA240122302131D29N24,Cancelled,1,"11499,00","15,00","10924,05","15,00",700694_AAAAA49273_6_MARJMA,Xdock,AAAAA49273,Samsung Galaxy S23 Ultra ( 12 + 256GB - Phanto...
113328,1318442,3RVY,MARJMA240122121231GR0NRE,Delivered,1,"669,00","15,00","619,00","15,00",700104_AAAAA50110_6_MARJMA,Xdock,AAAAA50110,Défroisseur vapeur vertical
113329,924944,7LNP,MARJMA2312151500O7VDG7,Cancelled,1,"599,99","16,00","499,99","16,00",700425_AAAAB00048_6_MARJMA,Xdock,AAAAB00048,Parlante Bluetooth Recargable Oraimo Bass Go B...
113330,883425,GPYG,MARJMA230510133122QV3KVG,Cancelled,1,"2833,37","738,00","3493,55","738,00",164004_DEL8004399325326_6_MARJMA,Seller,DEL8004399325326,Machine expresso automatique avec broyeur - DE...

In [ ]:
##########  id   PRIMARY KEY    
##########   order_id   FOREIGN KEY

In [ ]:
########  OrderHeader   df

In [ ]:
df4 = pd.read_csv(r"C:\Users\Lenovo\Desktop\Marjane\OrderHeader.csv", sep=";", encoding="ISO-8859-1")

In [18]:
df4.head()

,OrderId,businessOrder,salesChannel_Id,salesChannel_Name,sellerId,status,customer_Reference,purchasedAt,updatedAt,createdAt,payment_Method,currencyCode,billingAddress_city,billingAddress_stateOrRegion,billingAddress_countryCode,totalPrice_offerPrice,totalPrice_sellingPrice
0,MARJMA230510133122QV3KVG,False,MARJMA,Marjane Maroc,164004,Cancelled,14167,2023-05-10T08:40:00Z,2025-02-06T12:48:16.972Z,2023-05-10T13:36:37.576Z,Card,MAD,CASABLANCA,NaN,MA,"3571,37","4231,55"
1,MARJMA2312151500O7VDG7,False,MARJMA,Marjane Maroc,700425,Cancelled,5956,2023-12-15T14:53:03Z,2025-02-06T12:44:28.877Z,2023-12-15T15:00:50.342Z,CashOnDelivery,MAD,LARACHE,NaN,MA,"615,99","515,99"
2,MARJMA2402151701RDJMDV,False,MARJMA,Marjane Maroc,700771,Cancelled,129601,2024-02-15T14:49:04Z,2024-11-23T13:30:41.305Z,2024-02-15T17:01:03.683Z,CashOnDelivery,MAD,SAFI,NaN,MA,"895,00","805,50"
3,MARJMA24032122091122OEK51Z,False,MARJMA,Marjane Maroc,703183,Cancelled,154470,2024-03-26T08:58:51Z,2025-05-01T16:03:16.791Z,2024-03-26T09:16:12.074Z,CashOnDelivery,MAD,CASABLANCA,NaN,MA,"563,00","513,00"
4,MARJMA2403282001122R0L27,False,MARJMA,Marjane Maroc,700440,Cancelled,30748,2024-03-28T19:23:16Z,2025-04-26T15:01:38.073Z,2024-03-28T20:01:14.858Z,Card,MAD,CASA-CENTRE VILLE,NaN,MA,"363,90","363,90"

In [19]:
df4.isnull().sum()

OrderId                              0
businessOrder                        0
salesChannel_Id                      0
salesChannel_Name                    0
sellerId                             0
status                               0
customer_Reference                   0
purchasedAt                          0
updatedAt                            0
createdAt                            0
payment_Method                       0
currencyCode                         0
billingAddress_city                  0
billingAddress_stateOrRegion    100000
billingAddress_countryCode           0
totalPrice_offerPrice                0
totalPrice_sellingPrice              0
dtype: int64

In [25]:
df4.shape

(100000, 16)

In [26]:
df4

,OrderId,businessOrder,salesChannel_Id,salesChannel_Name,sellerId,status,customer_Reference,purchasedAt,updatedAt,createdAt,payment_Method,currencyCode,billingAddress_city,billingAddress_countryCode,totalPrice_offerPrice,totalPrice_sellingPrice
0,MARJMA230510133122QV3KVG,False,MARJMA,Marjane Maroc,164004,Cancelled,14167,2023-05-10T08:40:00Z,2025-02-06T12:48:16.972Z,2023-05-10T13:36:37.576Z,Card,MAD,CASABLANCA,MA,"3571,37","4231,55"
1,MARJMA2312151500O7VDG7,False,MARJMA,Marjane Maroc,700425,Cancelled,5956,2023-12-15T14:53:03Z,2025-02-06T12:44:28.877Z,2023-12-15T15:00:50.342Z,CashOnDelivery,MAD,LARACHE,MA,"615,99","515,99"
2,MARJMA2402151701RDJMDV,False,MARJMA,Marjane Maroc,700771,Cancelled,129601,2024-02-15T14:49:04Z,2024-11-23T13:30:41.305Z,2024-02-15T17:01:03.683Z,CashOnDelivery,MAD,SAFI,MA,"895,00","805,50"
3,MARJMA24032122091122OEK51Z,False,MARJMA,Marjane Maroc,703183,Cancelled,154470,2024-03-26T08:58:51Z,2025-05-01T16:03:16.791Z,2024-03-26T09:16:12.074Z,CashOnDelivery,MAD,CASABLANCA,MA,"563,00","513,00"
4,MARJMA2403282001122R0L27,False,MARJMA,Marjane Maroc,700440,Cancelled,30748,2024-03-28T19:23:16Z,2025-04-26T15:01:38.073Z,2024-03-28T20:01:14.858Z,Card,MAD,CASA-CENTRE VILLE,MA,"363,90","363,90"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,MARJMA250411221237E3QYKY,False,MARJMA,Marjane Maroc,700163,Cancelled,646009,2025-04-16T12:09:48Z,2025-04-16T14:09:20.358Z,2025-04-16T12:37:25.863Z,CashOnDelivery,MAD,CASA-CENTRE VILLE,MA,"143,99","143,99"
99996,MARJMA250411221237P3J1K2,False,MARJMA,Marjane Maroc,704750,Delivered,383494,2025-04-16T12:10:28Z,2025-05-16T22:06:42.787Z,2025-04-16T12:37:26.878Z,CashOnDelivery,MAD,FES,MA,"218,00","212,00"
99997,MARJMA250411221237Q35W0R,False,MARJMA,Marjane Maroc,704682,Delivered,646240,2025-04-16T12:16:59Z,2025-04-16T12:38:41.845Z,2025-04-16T12:37:29.893Z,CashOnDelivery,MAD,GUEZNAIA,MA,"174,99","151,91"
99998,MARJMA250411221237R0LMKX,False,MARJMA,Marjane Maroc,704276,Cancelled,233012,2025-04-16T12:12:22Z,2025-04-16T12:38:41.713Z,2025-04-16T12:37:27.198Z,CashOnDelivery,MAD,GUERCIF,MA,"574,00","574,00"
99999,MARJMA250411221237R3PV3Q,False,MARJMA,Marjane Maroc,700244,Cancelled,168335,2025-04-16T12:13:13Z,2025-04-16T12:38:41.727Z,2025-04-16T12:37:27.366Z,CashOnDelivery,MAD,TANGER,MA,"21,95","18,95"

In [30]:
df4.columns = df4.columns.str.lower()
df4.head()

,orderid,businessorder,saleschannel_id,saleschannel_name,sellerid,status,customer_reference,purchasedat,updatedat,createdat,payment_method,currencycode,billingaddress_city,billingaddress_countrycode,totalprice_offerprice,totalprice_sellingprice
0,MARJMA230510133122QV3KVG,False,MARJMA,Marjane Maroc,164004,Cancelled,14167,2023-05-10T08:40:00Z,2025-02-06T12:48:16.972Z,2023-05-10T13:36:37.576Z,Card,MAD,CASABLANCA,MA,"3571,37","4231,55"
1,MARJMA2312151500O7VDG7,False,MARJMA,Marjane Maroc,700425,Cancelled,5956,2023-12-15T14:53:03Z,2025-02-06T12:44:28.877Z,2023-12-15T15:00:50.342Z,CashOnDelivery,MAD,LARACHE,MA,"615,99","515,99"
2,MARJMA2402151701RDJMDV,False,MARJMA,Marjane Maroc,700771,Cancelled,129601,2024-02-15T14:49:04Z,2024-11-23T13:30:41.305Z,2024-02-15T17:01:03.683Z,CashOnDelivery,MAD,SAFI,MA,"895,00","805,50"
3,MARJMA24032122091122OEK51Z,False,MARJMA,Marjane Maroc,703183,Cancelled,154470,2024-03-26T08:58:51Z,2025-05-01T16:03:16.791Z,2024-03-26T09:16:12.074Z,CashOnDelivery,MAD,CASABLANCA,MA,"563,00","513,00"
4,MARJMA2403282001122R0L27,False,MARJMA,Marjane Maroc,700440,Cancelled,30748,2024-03-28T19:23:16Z,2025-04-26T15:01:38.073Z,2024-03-28T20:01:14.858Z,Card,MAD,CASA-CENTRE VILLE,MA,"363,90","363,90"

In [33]:
df4["updatedat"] = df4["updatedat"].str.split("T").str[0]

In [34]:
df4.head()

,orderid,businessorder,saleschannel_id,saleschannel_name,sellerid,status,customer_reference,purchasedat,updatedat,createdat,payment_method,currencycode,billingaddress_city,billingaddress_countrycode,totalprice_offerprice,totalprice_sellingprice
0,MARJMA230510133122QV3KVG,False,MARJMA,Marjane Maroc,164004,Cancelled,14167,2023-05-10T08:40:00Z,2025-02-06,2023-05-10T13:36:37.576Z,Card,MAD,CASABLANCA,MA,"3571,37","4231,55"
1,MARJMA2312151500O7VDG7,False,MARJMA,Marjane Maroc,700425,Cancelled,5956,2023-12-15T14:53:03Z,2025-02-06,2023-12-15T15:00:50.342Z,CashOnDelivery,MAD,LARACHE,MA,"615,99","515,99"
2,MARJMA2402151701RDJMDV,False,MARJMA,Marjane Maroc,700771,Cancelled,129601,2024-02-15T14:49:04Z,2024-11-23,2024-02-15T17:01:03.683Z,CashOnDelivery,MAD,SAFI,MA,"895,00","805,50"
3,MARJMA24032122091122OEK51Z,False,MARJMA,Marjane Maroc,703183,Cancelled,154470,2024-03-26T08:58:51Z,2025-05-01,2024-03-26T09:16:12.074Z,CashOnDelivery,MAD,CASABLANCA,MA,"563,00","513,00"
4,MARJMA2403282001122R0L27,False,MARJMA,Marjane Maroc,700440,Cancelled,30748,2024-03-28T19:23:16Z,2025-04-26,2024-03-28T20:01:14.858Z,Card,MAD,CASA-CENTRE VILLE,MA,"363,90","363,90"

In [35]:
df4["purchasedat"] = df4["purchasedat"].str.split("T").str[0]
df4["createdat"] = df4["createdat"].str.split("T").str[0]

In [36]:
df4.head()

,orderid,businessorder,saleschannel_id,saleschannel_name,sellerid,status,customer_reference,purchasedat,updatedat,createdat,payment_method,currencycode,billingaddress_city,billingaddress_countrycode,totalprice_offerprice,totalprice_sellingprice
0,MARJMA230510133122QV3KVG,False,MARJMA,Marjane Maroc,164004,Cancelled,14167,2023-05-10,2025-02-06,2023-05-10,Card,MAD,CASABLANCA,MA,"3571,37","4231,55"
1,MARJMA2312151500O7VDG7,False,MARJMA,Marjane Maroc,700425,Cancelled,5956,2023-12-15,2025-02-06,2023-12-15,CashOnDelivery,MAD,LARACHE,MA,"615,99","515,99"
2,MARJMA2402151701RDJMDV,False,MARJMA,Marjane Maroc,700771,Cancelled,129601,2024-02-15,2024-11-23,2024-02-15,CashOnDelivery,MAD,SAFI,MA,"895,00","805,50"
3,MARJMA24032122091122OEK51Z,False,MARJMA,Marjane Maroc,703183,Cancelled,154470,2024-03-26,2025-05-01,2024-03-26,CashOnDelivery,MAD,CASABLANCA,MA,"563,00","513,00"
4,MARJMA2403282001122R0L27,False,MARJMA,Marjane Maroc,700440,Cancelled,30748,2024-03-28,2025-04-26,2024-03-28,Card,MAD,CASA-CENTRE VILLE,MA,"363,90","363,90"

In [37]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   orderid                     100000 non-null  object
 1   businessorder               100000 non-null  bool
 2   saleschannel_id             100000 non-null  object
 3   saleschannel_name           100000 non-null  object
 4   sellerid                    100000 non-null  int64
 5   status                      100000 non-null  object
 6   customer_reference          100000 non-null  int64
 7   purchasedat                 100000 non-null  object
 8   updatedat                   100000 non-null  object
 9   createdat                   100000 non-null  object
 10  payment_method              100000 non-null  object
 11  currencycode                100000 non-null  object
 12  billingaddress_city         100000 non-null  object
 13  billingaddress_countrycode  100000 non-null  object
 14  totalprice_offerprice       100000 non-null  object
 15  totalprice_sellingprice     100000 non-null  object
dtypes: bool(1), int64(2), object(13)
memory usage: 11.5+ MB

In [42]:
for x in ["totalprice_offerprice","totalprice_sellingprice"]:
    df4[x]= df4[x].str.replace(",",".").astype(float)

AttributeError: Can only use .str accessor with string values!

In [44]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   orderid                     100000 non-null  object
 1   businessorder               100000 non-null  bool
 2   saleschannel_id             100000 non-null  object
 3   saleschannel_name           100000 non-null  object
 4   sellerid                    100000 non-null  int64
 5   status                      100000 non-null  object
 6   customer_reference          100000 non-null  int64
 7   purchasedat                 100000 non-null  object
 8   updatedat                   100000 non-null  object
 9   createdat                   100000 non-null  object
 10  payment_method              100000 non-null  object
 11  currencycode                100000 non-null  object
 12  billingaddress_city         100000 non-null  object
 13  billingaddress_countrycode  100000 non-null  object
 14  totalprice_offerprice       100000 non-null  float64
 15  totalprice_sellingprice     100000 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(11)
memory usage: 11.5+ MB

In [51]:
df4["currencycode"].unique()

array(['MAD'], dtype=object)

In [48]:
df4["billingaddress_countrycode"].unique()

array(['MA'], dtype=object)

In [53]:
df4.drop(columns=["currencycode","billingaddress_countrycode"], inplace=True )

In [55]:
df4.head()

,orderid,businessorder,saleschannel_id,saleschannel_name,sellerid,status,customer_reference,purchasedat,updatedat,createdat,payment_method,billingaddress_city,totalprice_offerprice,totalprice_sellingprice
0,MARJMA230510133122QV3KVG,False,MARJMA,Marjane Maroc,164004,Cancelled,14167,2023-05-10,2025-02-06,2023-05-10,Card,CASABLANCA,3571.37,4231.55
1,MARJMA2312151500O7VDG7,False,MARJMA,Marjane Maroc,700425,Cancelled,5956,2023-12-15,2025-02-06,2023-12-15,CashOnDelivery,LARACHE,615.99,515.99
2,MARJMA2402151701RDJMDV,False,MARJMA,Marjane Maroc,700771,Cancelled,129601,2024-02-15,2024-11-23,2024-02-15,CashOnDelivery,SAFI,895.00,805.50
3,MARJMA24032122091122OEK51Z,False,MARJMA,Marjane Maroc,703183,Cancelled,154470,2024-03-26,2025-05-01,2024-03-26,CashOnDelivery,CASABLANCA,563.00,513.00
4,MARJMA2403282001122R0L27,False,MARJMA,Marjane Maroc,700440,Cancelled,30748,2024-03-28,2025-04-26,2024-03-28,Card,CASA-CENTRE VILLE,363.90,363.90

In [56]:
df4.isnull().sum()

orderid                    0
businessorder              0
saleschannel_id            0
saleschannel_name          0
sellerid                   0
status                     0
customer_reference         0
purchasedat                0
updatedat                  0
createdat                  0
payment_method             0
billingaddress_city        0
totalprice_offerprice      0
totalprice_sellingprice    0
dtype: int64

In [58]:
for col in ["purchasedat","updatedat","createdat"]:
    df4[col]= pd.to_datetime(df4[col]).dt.date

In [59]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   orderid                  100000 non-null  object
 1   businessorder            100000 non-null  bool
 2   saleschannel_id          100000 non-null  object
 3   saleschannel_name        100000 non-null  object
 4   sellerid                 100000 non-null  int64
 5   status                   100000 non-null  object
 6   customer_reference       100000 non-null  int64
 7   purchasedat              100000 non-null  object
 8   updatedat                100000 non-null  object
 9   createdat                100000 non-null  object
 10  payment_method           100000 non-null  object
 11  billingaddress_city      100000 non-null  object
 12  totalprice_offerprice    100000 non-null  float64
 13  totalprice_sellingprice  100000 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(9)
memory usage: 10.0+ MB

In [60]:
print(df4[["purchasedat", "updatedat", "createdat"]].head())
print(df4[["purchasedat", "updatedat", "createdat"]].dtypes)

  purchasedat   updatedat   createdat
0  2023-05-10  2025-02-06  2023-05-10
1  2023-12-15  2025-02-06  2023-12-15
2  2024-02-15  2024-11-23  2024-02-15
3  2024-03-26  2025-05-01  2024-03-26
4  2024-03-28  2025-04-26  2024-03-28
purchasedat    object
updatedat      object
createdat      object
dtype: object

In [62]:
df4 = df4.rename(columns={"orderid":"order_id","sellerid":"seller_id","purchasedat":"purchase_date","updatedat":"update_date","createdat":"create_date"})

In [63]:
df4.head()

,order_id,businessorder,saleschannel_id,saleschannel_name,seller_id,status,customer_reference,purchase_date,update_date,create_date,payment_method,billingaddress_city,totalprice_offerprice,totalprice_sellingprice
0,MARJMA230510133122QV3KVG,False,MARJMA,Marjane Maroc,164004,Cancelled,14167,2023-05-10,2025-02-06,2023-05-10,Card,CASABLANCA,3571.37,4231.55
1,MARJMA2312151500O7VDG7,False,MARJMA,Marjane Maroc,700425,Cancelled,5956,2023-12-15,2025-02-06,2023-12-15,CashOnDelivery,LARACHE,615.99,515.99
2,MARJMA2402151701RDJMDV,False,MARJMA,Marjane Maroc,700771,Cancelled,129601,2024-02-15,2024-11-23,2024-02-15,CashOnDelivery,SAFI,895.00,805.50
3,MARJMA24032122091122OEK51Z,False,MARJMA,Marjane Maroc,703183,Cancelled,154470,2024-03-26,2025-05-01,2024-03-26,CashOnDelivery,CASABLANCA,563.00,513.00
4,MARJMA2403282001122R0L27,False,MARJMA,Marjane Maroc,700440,Cancelled,30748,2024-03-28,2025-04-26,2024-03-28,Card,CASA-CENTRE VILLE,363.90,363.90

In [64]:
df4.loc[df4["billingaddress_city"].str.contains("CASA"), "billingaddress_city"] = "CASABLANCA"

In [65]:
df4.head()

,order_id,businessorder,saleschannel_id,saleschannel_name,seller_id,status,customer_reference,purchase_date,update_date,create_date,payment_method,billingaddress_city,totalprice_offerprice,totalprice_sellingprice
0,MARJMA230510133122QV3KVG,False,MARJMA,Marjane Maroc,164004,Cancelled,14167,2023-05-10,2025-02-06,2023-05-10,Card,CASABLANCA,3571.37,4231.55
1,MARJMA2312151500O7VDG7,False,MARJMA,Marjane Maroc,700425,Cancelled,5956,2023-12-15,2025-02-06,2023-12-15,CashOnDelivery,LARACHE,615.99,515.99
2,MARJMA2402151701RDJMDV,False,MARJMA,Marjane Maroc,700771,Cancelled,129601,2024-02-15,2024-11-23,2024-02-15,CashOnDelivery,SAFI,895.00,805.50
3,MARJMA24032122091122OEK51Z,False,MARJMA,Marjane Maroc,703183,Cancelled,154470,2024-03-26,2025-05-01,2024-03-26,CashOnDelivery,CASABLANCA,563.00,513.00
4,MARJMA2403282001122R0L27,False,MARJMA,Marjane Maroc,700440,Cancelled,30748,2024-03-28,2025-04-26,2024-03-28,Card,CASABLANCA,363.90,363.90

In [67]:
df4["saleschannel_id"].unique()
df4["saleschannel_name"].unique()

array(['Marjane Maroc'], dtype=object)

In [69]:
df4.drop(columns=["saleschannel_id","saleschannel_name"], inplace=True )

In [70]:
df4.head()

,order_id,businessorder,seller_id,status,customer_reference,purchase_date,update_date,create_date,payment_method,billingaddress_city,totalprice_offerprice,totalprice_sellingprice
0,MARJMA230510133122QV3KVG,False,164004,Cancelled,14167,2023-05-10,2025-02-06,2023-05-10,Card,CASABLANCA,3571.37,4231.55
1,MARJMA2312151500O7VDG7,False,700425,Cancelled,5956,2023-12-15,2025-02-06,2023-12-15,CashOnDelivery,LARACHE,615.99,515.99
2,MARJMA2402151701RDJMDV,False,700771,Cancelled,129601,2024-02-15,2024-11-23,2024-02-15,CashOnDelivery,SAFI,895.00,805.50
3,MARJMA24032122091122OEK51Z,False,703183,Cancelled,154470,2024-03-26,2025-05-01,2024-03-26,CashOnDelivery,CASABLANCA,563.00,513.00
4,MARJMA2403282001122R0L27,False,700440,Cancelled,30748,2024-03-28,2025-04-26,2024-03-28,Card,CASABLANCA,363.90,363.90

In [ ]:
####### order_id  PRIMARY KEY

In [97]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112969 entries, 0 to 113330
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           112969 non-null  int64
 1   orderLineId                  112969 non-null  object
 2   order_id                     112969 non-null  object
 3   status                       112969 non-null  object
 4   quantity                     112969 non-null  int64
 5   offerPrice_UnitSalesPrice    112969 non-null  object
 6   offerPrice_ShippingCost      112969 non-null  object
 7   sellingPrice_UnitSalesPrice  112969 non-null  object
 8   sellingPrice_ShippingCost    112969 non-null  object
 9   offer_Id                     112969 non-null  object
 10  offer_supplyMode             112969 non-null  object
 11  offer_productId              112969 non-null  object
 12  offer_productTitle           112969 non-null  object
dtypes: int64(2), object(11)
memory usage: 12.1+ MB

In [98]:
df3.head()

,id,orderLineId,order_id,status,quantity,offerPrice_UnitSalesPrice,offerPrice_ShippingCost,sellingPrice_UnitSalesPrice,sellingPrice_ShippingCost,offer_Id,offer_supplyMode,offer_productId,offer_productTitle
0,1153777,9LV0,MARJMA2504152338ZRDYR1,Delivered,1,"89,00","15,00","89,00","8,00",700058_AAAAB02872_6_MARJMA,Fulfillment,AAAAB02872,MAYBELLINE - FIT ME FRESH TINT 03
1,1153778,96MQ,MARJMA2504152338ZRDYR1,Delivered,1,"99,00","15,00","99,00","8,00",700058_AUC0000030148116_6_MARJMA,Fulfillment,AUC0000030148116,Maybelline New York Superstay Vinyl Ink Encre ...
2,1153779,9VXQ,MARJMA2504152338ZRDYR1,Delivered,1,"99,00","15,00","99,00","8,00",700058_AUC0000030153219_6_MARJMA,Fulfillment,AUC0000030153219,Rouge à lèvres - Maybelline New York - Superst...
3,1153784,29JV,MARJMA2504152338WRY0K9,Delivered,1,"119,00","15,00","89,00","25,00",704053_AAAND58082_6_MARJMA,Xdock,AAAND58082,HEALTH POWER - Magnésium Glycinate - 60 Gélule...
4,1153796,0L40,MARJMA2504152338QR7QPO,Delivered,1,"174,00","15,00","174,00","15,00",704040_ASE3323036009647_6_MARJMA,Fulfillment,ASE3323036009647,Gel Fortifiant Cils et Sourcils - Ecrinal - AN...

In [99]:
for x in ["offerPrice_UnitSalesPrice","offerPrice_ShippingCost","sellingPrice_UnitSalesPrice","sellingPrice_ShippingCost"]:
    df3[x]= df3[x].str.replace(",",".").astype(float)

In [100]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112969 entries, 0 to 113330
Data columns (total 13 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           112969 non-null  int64
 1   orderLineId                  112969 non-null  object
 2   order_id                     112969 non-null  object
 3   status                       112969 non-null  object
 4   quantity                     112969 non-null  int64
 5   offerPrice_UnitSalesPrice    112969 non-null  float64
 6   offerPrice_ShippingCost      112969 non-null  float64
 7   sellingPrice_UnitSalesPrice  112969 non-null  float64
 8   sellingPrice_ShippingCost    112969 non-null  float64
 9   offer_Id                     112969 non-null  object
 10  offer_supplyMode             112969 non-null  object
 11  offer_productId              112969 non-null  object
 12  offer_productTitle           112969 non-null  object
dtypes: float64(4), int64(2), object(7)
memory usage: 12.1+ MB

In [102]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   order_id                 100000 non-null  object
 1   businessorder            100000 non-null  bool
 2   seller_id                100000 non-null  int64
 3   status                   100000 non-null  object
 4   customer_reference       100000 non-null  int64
 5   purchase_date            100000 non-null  object
 6   update_date              100000 non-null  object
 7   create_date              100000 non-null  object
 8   payment_method           100000 non-null  object
 9   billingaddress_city      100000 non-null  object
 10  totalprice_offerprice    100000 non-null  float64
 11  totalprice_sellingprice  100000 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 8.5+ MB

In [120]:
df4.columns

Index(['order_id', 'businessorder', 'seller_id', 'status',
       'customer_reference', 'purchase_date', 'update_date', 'create_date',
       'payment_method', 'billingaddress_city', 'totalprice_offerprice',
       'totalprice_sellingprice'],
      dtype='object')

In [121]:
df4.to_sql("order_header", engine, if_exists="append", index=False)

1000

In [128]:
df3.head()

,id,order_line_id,order_id,status,quantity,offerPrice_UnitSalesPrice,offerPrice_ShippingCost,sellingPrice_UnitSalesPrice,sellingPrice_ShippingCost,offer_Id,offer_supplyMode,offer_productId,offer_productTitle
0,1153777,9LV0,MARJMA2504152338ZRDYR1,Delivered,1,89.0,15.0,89.0,8.0,700058_AAAAB02872_6_MARJMA,Fulfillment,AAAAB02872,MAYBELLINE - FIT ME FRESH TINT 03
1,1153778,96MQ,MARJMA2504152338ZRDYR1,Delivered,1,99.0,15.0,99.0,8.0,700058_AUC0000030148116_6_MARJMA,Fulfillment,AUC0000030148116,Maybelline New York Superstay Vinyl Ink Encre ...
2,1153779,9VXQ,MARJMA2504152338ZRDYR1,Delivered,1,99.0,15.0,99.0,8.0,700058_AUC0000030153219_6_MARJMA,Fulfillment,AUC0000030153219,Rouge à lèvres - Maybelline New York - Superst...
3,1153784,29JV,MARJMA2504152338WRY0K9,Delivered,1,119.0,15.0,89.0,25.0,704053_AAAND58082_6_MARJMA,Xdock,AAAND58082,HEALTH POWER - Magnésium Glycinate - 60 Gélule...
4,1153796,0L40,MARJMA2504152338QR7QPO,Delivered,1,174.0,15.0,174.0,15.0,704040_ASE3323036009647_6_MARJMA,Fulfillment,ASE3323036009647,Gel Fortifiant Cils et Sourcils - Ecrinal - AN...

In [131]:
df3 = df3.rename(columns={
    "offerPrice_UnitSalesPrice": "offerPrice_UnitSalesPrice",
    "offerPrice_ShippingCost": "offerPrice_ShippingCost",
    "sellingPrice_UnitSalesPrice": "sellingPrice_UnitSalesPrice",
    "sellingPrice_ShippingCost": "sellingPrice_ShippingCost",
    "offer_Id": "offer_Id",
    "offer_supplyMode": "offer_supplyMode",
    "offer_productId": "offer_productId",
    "offer_productTitle": "offer_productTitle"
})
df3

,id,order_line_id,order_id,status,quantity,offerPrice_UnitSalesPrice,offerPrice_ShippingCost,sellingPrice_UnitSalesPrice,sellingPrice_ShippingCost,offer_Id,offer_supplyMode,offer_productId,offer_productTitle
0,1153777,9LV0,MARJMA2504152338ZRDYR1,Delivered,1,89.00,15.0,89.00,8.0,700058_AAAAB02872_6_MARJMA,Fulfillment,AAAAB02872,MAYBELLINE - FIT ME FRESH TINT 03
1,1153778,96MQ,MARJMA2504152338ZRDYR1,Delivered,1,99.00,15.0,99.00,8.0,700058_AUC0000030148116_6_MARJMA,Fulfillment,AUC0000030148116,Maybelline New York Superstay Vinyl Ink Encre ...
2,1153779,9VXQ,MARJMA2504152338ZRDYR1,Delivered,1,99.00,15.0,99.00,8.0,700058_AUC0000030153219_6_MARJMA,Fulfillment,AUC0000030153219,Rouge à lèvres - Maybelline New York - Superst...
3,1153784,29JV,MARJMA2504152338WRY0K9,Delivered,1,119.00,15.0,89.00,25.0,704053_AAAND58082_6_MARJMA,Xdock,AAAND58082,HEALTH POWER - Magnésium Glycinate - 60 Gélule...
4,1153796,0L40,MARJMA2504152338QR7QPO,Delivered,1,174.00,15.0,174.00,15.0,704040_ASE3323036009647_6_MARJMA,Fulfillment,ASE3323036009647,Gel Fortifiant Cils et Sourcils - Ecrinal - AN...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113326,670063,WLP7,MARJMA2402151701RDJMDV,Cancelled,1,895.00,0.0,805.50,0.0,700771_AAAAG90445_6_MARJMA,Xdock,AAAAG90445,Friteuse à air sans huile Léviter Digital 5L -...
113327,1060439,WJ3R,MARJMA240122302131D29N24,Cancelled,1,11499.00,15.0,10924.05,15.0,700694_AAAAA49273_6_MARJMA,Xdock,AAAAA49273,Samsung Galaxy S23 Ultra ( 12 + 256GB - Phanto...
113328,1318442,3RVY,MARJMA240122121231GR0NRE,Delivered,1,669.00,15.0,619.00,15.0,700104_AAAAA50110_6_MARJMA,Xdock,AAAAA50110,Défroisseur vapeur vertical
113329,924944,7LNP,MARJMA2312151500O7VDG7,Cancelled,1,599.99,16.0,499.99,16.0,700425_AAAAB00048_6_MARJMA,Xdock,AAAAB00048,Parlante Bluetooth Recargable Oraimo Bass Go B...
113330,883425,GPYG,MARJMA230510133122QV3KVG,Cancelled,1,2833.37,738.0,3493.55,738.0,164004_DEL8004399325326_6_MARJMA,Seller,DEL8004399325326,Machine expresso automatique avec broyeur - DE...

In [132]:
df3 = df3.rename(columns={
    "offerPrice_UnitSalesPrice": "offerprice_unitsalesprice",
    "offerPrice_ShippingCost": "offerprice_shippingcost",
    "sellingPrice_UnitSalesPrice": "sellingprice_unitsalesprice",
    "sellingPrice_ShippingCost": "sellingprice_shippingcost",
    "offer_Id": "offer_id",
    "offer_supplyMode": "offer_supplymode",
    "offer_productId": "offer_productid",
    "offer_productTitle": "offer_producttitle"
})

In [134]:
df3 = df3.rename(columns={
    "orderLineId": "order_line_id",
    "offerPrice_UnitSalesPrice": "offerPrice_UnitSalesPrice",
    "offerPrice_ShippingCost": "offerPrice_ShippingCost",
    "sellingPrice_UnitSalesPrice": "sellingPrice_UnitSalesPrice",
    "sellingPrice_ShippingCost": "sellingPrice_ShippingCost",
    "offer_Id": "offer_Id",
    "offer_supplyMode": "offer_supplyMode",
    "offer_productId": "offer_productId",
    "offer_productTitle": "offer_productTitle"
})

In [135]:
df3.head()

,id,order_line_id,order_id,status,quantity,offerprice_unitsalesprice,offerprice_shippingcost,sellingprice_unitsalesprice,sellingprice_shippingcost,offer_id,offer_supplymode,offer_productid,offer_producttitle
0,1153777,9LV0,MARJMA2504152338ZRDYR1,Delivered,1,89.0,15.0,89.0,8.0,700058_AAAAB02872_6_MARJMA,Fulfillment,AAAAB02872,MAYBELLINE - FIT ME FRESH TINT 03
1,1153778,96MQ,MARJMA2504152338ZRDYR1,Delivered,1,99.0,15.0,99.0,8.0,700058_AUC0000030148116_6_MARJMA,Fulfillment,AUC0000030148116,Maybelline New York Superstay Vinyl Ink Encre ...
2,1153779,9VXQ,MARJMA2504152338ZRDYR1,Delivered,1,99.0,15.0,99.0,8.0,700058_AUC0000030153219_6_MARJMA,Fulfillment,AUC0000030153219,Rouge à lèvres - Maybelline New York - Superst...
3,1153784,29JV,MARJMA2504152338WRY0K9,Delivered,1,119.0,15.0,89.0,25.0,704053_AAAND58082_6_MARJMA,Xdock,AAAND58082,HEALTH POWER - Magnésium Glycinate - 60 Gélule...
4,1153796,0L40,MARJMA2504152338QR7QPO,Delivered,1,174.0,15.0,174.0,15.0,704040_ASE3323036009647_6_MARJMA,Fulfillment,ASE3323036009647,Gel Fortifiant Cils et Sourcils - Ecrinal - AN...

In [136]:
df3.columns

Index(['id', 'order_line_id', 'order_id', 'status', 'quantity',
       'offerprice_unitsalesprice', 'offerprice_shippingcost',
       'sellingprice_unitsalesprice', 'sellingprice_shippingcost', 'offer_id',
       'offer_supplymode', 'offer_productid', 'offer_producttitle'],
      dtype='object')

In [137]:
df3.to_sql("order_detail", engine, if_exists="append", index=False)

969

In [138]:
df2.columns

Index(['rec_id', 'order_line_id', 'status', 'date'], dtype='object')

In [139]:
df2.to_sql("order_detail_events", engine, if_exists="append", index=False)

63

In [141]:
df1.to_csv("annulation.csv", index=False, encoding="utf-8-sig")